* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* div {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: cadetblue;
  font-size: 40px;
} */

.one {
  background: url("../html/images/big.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.two {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../html/images/big.jpeg") center/cover no-repeat fixed;
}

.l-one {
  background: red;
  float: left;
  width: 30.33%;
  height: 150px;
  padding: 4px;
}
.l-two {
  background: blanchedalmond;
  float: left;
  width: 30.33%;
  height: 150vh;
}
.l-three {
  background: yellowgreen;
  float: left;
  width: 30.33%;
  height: 150vh;
}
.scrol {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  color: cadetblue;
  display: flex;
  justify-content: end;
}
.stick {
  clear: both;
  padding-bottom: 2000px;
}
.after {
  clear: both;
}
.hello {
  position: sticky;
  top: 0;
  clear: both;
}
