div {
  width: 150px;
  height: 150px;
  display: inline-block;
  transition-property: background;
  transition-duration: 3s;
}
div:hover {
  background: black;
}
.one {
  background: cadetblue;
}
.two {
  background: blue;
}
.three {
  background: grey;
}
