div {
  min-height: 100vh;
  text-transform: uppercase;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.big-img {
  background: url("../html/images/big.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.small-img {
  border: 2px solid red;
  background: url("../html/images/5666.resized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.folder-img {
  background: url("../html/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
